@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Roboto, sans-serif;
}

.section1{
    background-color: #1F2937;
}

.hr1{
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.hr2{
    font-size: 18px;
    color: #E5E7EB;
}

.heroimg{
    display: flex;
    flex: 1;
    height: 250px;
    align-items: center;
    justify-content: center;
}

.logo{
    font-size: 24px;
    color:#F9FAF8;
    font-weight: bold;
}

.section4{
    background-color: #3882F6;
}

button{
    background-color: #3882F6;
    color: white;
    padding: 8px 32px;
    border-radius: 8px;
    border: none;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    align-self: flex-start;
}

.section2{
    padding: 48px 200px 100px;
}

.section2 h2{
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    text-align: center;
    margin-bottom: 48px;
}

.section3{
    background-color: #E5E7EB;
    padding: 100px 200px;
    display: flex;
    flex-direction: column;
}

a{
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 200px;
    max-width: 1400px;
    margin: 0 auto;
}

ul{
    list-style-type: none;
    display: flex;
    gap: 24px;
}

.herotext{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    padding: 100px 200px;
    max-width: 1400px;
    margin: 0 auto;
}

.heromain{
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 1;
    max-width: 450px;
}

.box{
    width: 180px;
    height: 180px;
    border: 4px solid #3882F6;
    margin-bottom: 8px;
    border-radius: 16px;
}

.boxes{
    display: flex;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
}

.container p {
    text-align: center;
    font-size: 18px;
}

.quote{
    max-width: 900px;
    font-style: italic;
    font-size: 36px;
    color: #1F2937;
    font-weight: 300;
    margin-bottom: 8px;
    margin: 0 auto;
}

.thor{
    font-weight: bold;
    font-size: 24px;
    text-align: right;
    max-width: 900px;
    margin: 0 auto;
    width: 100%;
    padding-top: 8px;
}

.section4{
    background-color: #3882F6;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 48px 120px;
    margin: 100px auto;
    border-radius: 10px;
    max-width: 1000px;
}

.h2p h2{
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 4px;
}

.h2p p{
    font-size: 16px;
    color: #E5E7EB;
}
.section4 button{
    border: 2px solid white;
    background-color: #3882F6;
}

.footer{
    background-color: #1F2937;
    color: #E5E7EB;
    text-align: center;
    padding: 32px;
}