@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: Roboto, sans-serif;
}

.section1{
    background-color: #1F2937;
}

.hr1{
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.hr2,a{
    font-size: 18px;
    color: #E5E7EB;
}

.logo{
    font-size: 24px;
    color:#F9FAF8
}

.section4{
    background-color: #3882F6;
}

button{
    background-color: #3882F6;
    color: white;
    width: 100px;
    padding: 5px;
    border-radius: 10px;
}

.section2 h2{
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    text-align: center;
    margin: 48px;
}

.section3{
    background-color: #E5E7EB;
    font-size: 36px;
    color: #1F2937;
    font-weight: 300;
    padding: 100px;
}

a{
    text-decoration: none;
}

.nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 15px;
}

ul{
    list-style-type: none;
    display: flex;
    gap: 20px;
}

.herotext{
    display: flex;
    justify-content: center;
    gap: 50px;
    padding: 80px;
    align-items: center;
}

.heromain{
    display: flex;
    flex-direction: column;
    width: 400px;
}

.box{
    width: 200px;
    height: 200px;
    border: 4px solid #3882F6;
    margin: 10px;
    border-radius: 10%;
}

.boxes{
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-bottom: 100px;
}

.container{
    display: flex;
    flex-direction: column;
    width: 200px;
    align-items: center;
}